# =========================================
# Python
# =========================================
__pycache__/
*.py[cod]
*$py.class

# =========================================
# Data
# =========================================
data/

# =========================================
# IDE & OS files
# =========================================
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db

# =========================================
# Build / Distribution
# =========================================
build/
dist/
*.egg-info/
.eggs/
MANIFEST
